<section class="view" id="view-login">
  <h1>PWA Music Book — Login</h1>

  <form id="form-login">
    <input
      name="user"
      id="login-user"
      placeholder="Usuario"
      required
    />
    <input
      name="pass"
      id="login-pass"
      placeholder="Contraseña"
      type="password"
      required
    />
    <button type="submit">Entrar</button>
  </form>

  <div class="links">
    <button id="to-register" class="link-btn">Registro</button>
    <button id="to-recover" class="link-btn">Recuperar contraseña</button>
  </div>
</section>
