
<section class="view" id="view-recover">
  <h1>Recuperar Contraseña</h1>

  <form id="form-recover">

    <input
      id="rec-nombre"
      placeholder="Nombre"
      required
    />

    <input
      id="rec-apellido"
      placeholder="Apellido"
      required
    />

    <input
      id="rec-usuario"
      placeholder="Usuario"
      required
    />

    <input
      id="rec-clave"
      placeholder="Palabra clave"
      required
    />

    <button type="submit">Buscar</button>
  </form>

  <p id="recover-result" class="result"></p>

  <div class="links">
    <button id="back-login-from-recover" class="link-btn">
      Volver al login
    </button>
  </div>
</section>
