<section class="view" id="view-register">
  <h1>Registro de Usuario</h1>

  <form id="form-register">
    <input
      name="nombre"
      id="reg-nombre"
      placeholder="Nombre"
      required
    />

    <input
      name="apellido"
      id="reg-apellido"
      placeholder="Apellido"
      required
    />

    <input
      name="usuario"
      id="reg-usuario"
      placeholder="Usuario"
      required
    />

    <input
      name="clave"
      id="reg-clave"
      placeholder="Palabra clave (para recuperar)"
      required
    />

    <input
      name="pass"
      id="reg-pass"
      type="password"
      placeholder="Contraseña"
      required
    />

    <button type="submit">Crear cuenta</button>
  </form>

  <div class="links">
    <button id="back-login-from-register" class="link-btn">
      Volver al login
    </button>
  </div>
</section>
