<div class="view view-register">
  <h2>Crear Cuenta</h2>

  <form id="form-register">
    <input id="reg-name" type="text" placeholder="Nombre" required />
    <input id="reg-lastname" type="text" placeholder="Apellido" required />
    <input id="reg-user" type="text" placeholder="Usuario" required />
    <input id="reg-key" type="text" placeholder="Clave de recuperación" required />
    <input id="reg-pass" type="password" placeholder="Contraseña" required />

    <button type="submit">Registrarse</button>
  </form>

  <button id="back-login" onclick="loadView('login')">Volver</button>
</div>
